body {
    padding: 0;
    margin: 0 0 0 0;
}

p {
    padding: 0;
    margin: 0;
}
/* .container-fluid {
    padding: 0 3%;
} */
/* ***  NAV BAR *** */

.logo {
    width: 30mm;
    height: 21mm;
    padding: 2.8mm 0mm 2mm 19mm;
}



.nav-bar {
    height: 24mm;

}

.bg-light {
    background-color: white !important;
}

dl,
ol,
ul {
    margin-top: -16mm;
}


/* ** END NAV BAR ** */


/* ** FEATURE CAR SECTION ** */


.feature-car {
    background-color: black;
    /* max-width: 100%; */

}

/* *** SECTION TWO *** */

.section-two {
    border-bottom: 1px solid gray;
}
.sub-heading {
    font-size: 13px;
    color: #555;
    margin: 20px 20px 0 38px;
    font-family: 'Roboto', sans-serif;
}

.verticle-line {
    border-left: 1px solid gray;
}

.epa-heading {
    margin-left: 40px;
    margin-top: 17px;
    margin-bottom: 6px;
    font-size: 13px;
    color: #555;
    line-height: 1;
}

.price {
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
    width: 12mm;
    margin-left: 35px;
    color: black;
}
.seating {
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
    width: 12mm;
    margin-left: 24px;
    color: black;
}
.lease {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    margin-left: 33px;
}
.mpg-heading {
    color: #555;
    margin-left: 52px;
    font-size: 13px;
}
.pricing {
    color: #555;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    height: 23mm;
}

/* *** END SECTION TWO *** */

/* *** SECTION THREEE *** */

.section-3 {
    text-align: center;
    width: 500px;
}
.section-three-headline {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30pt;
    padding-top: 30px;
}

.sec-3-text-body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 15pt;
    
}

/* *** END SECTION THREEE *** */

/* *** SECTION FOUR *** */


#four {
    background-color: #F7F7F7; 
}

.sec-4-text {
    font-family: 'Roboto', sans-serif;
    font-size: 50pt;
    text-align: center;
    padding: 20px 0;
    font-weight: 100;
}

/* *** END SECTION FOUR *** */

/* *** SECTION FIVE *** */




/* *** END SSECTION FIVE *** */
.section-6 {
    margin-top: 10mm;
    height: 126mm;
    max-width: 100%;
}

.section-5 {
    margin-top: 10mm;
    height: 126mm;
    max-width: 100%;
}