body {
    padding: 0;
    margin: 0 0 0 0;
}

p {
    padding: 0;
    margin: 0;
}

/* ***  NAV BAR *** */

.logo {
    width: 30mm;
    height: 21mm;
    padding: 2.8mm 0mm 2mm 19mm;
}

/* .sam {
    margin-bottom: 5px;
} */

.nav-bar {
    height: 24mm;

}

.bg-light {
    background-color: white !important;
}

dl,
ol,
ul {
    margin-top: -16mm;
}


/* ** END NAV BAR ** */


/* ** FEATURE CAR SECTION ** */


.feature-car {
    background-color: black;
    /* max-width: 100%; */

}

.sub-heading {
    color: #555;
    margin: 20px 20px 0 38px;
    font-family: 'Roboto', sans-serif;
}

.verticle-line {
    border-left: 1px solid gray;
}

.epa-heading {
    margin-left: 40px;
    margin-top: 17px;
}

.price {

    font-size: 33px;
    font-family: 'Roboto', sans-serif;
    width: 12mm;
    margin-left:31px
}

.lease {
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    color: #555;
    margin-left: 33px;

}

.mpg-heading {
    color: #555;
    margin-left: 28px;
    line-height: .2;
    font-family: 'Roboto', sans-serif;

}

.pricing {
    color: #555;

    margin: 20px;
    font-family: 'Roboto', sans-serif;
    /* width: 102mm; */
    font-size: 12px;
    height: 23mm;


}

.section-four,
.section-6 {
    margin-top: 10mm;
    height: 126mm;
    max-width: 100%;
}

.section-5 {
    margin-top: 10mm;
    height: 126mm;
    max-width: 100%;
}