body {
    padding: 0;
    margin: 0 0 0 0;
}

p {
    padding: 0;
    margin: 0;
}
/* ***  NAV BAR *** */

.logo {
    width: 30mm;
    height: 21mm;
    padding: 2.8mm 0mm 2mm 19mm;
}

/* .sam {
    margin-bottom: 5px;
} */

.nav-bar {
    height: 24mm;

}
.bg-light {
    background-color: white !important;
}
dl, ol, ul {
    margin-top: -16mm;
}


/* ** END NAV BAR ** */


/* ** FEATURE CAR SECTION ** */
 
    
.feature-car {
    background-color: black;
    /* max-width: 100%; */
   
}

.sub-heading {
    color: #555;
    font-size: 12px;
    margin-left: 10mm;
    font-family: 'Roboto', sans-serif;
}
.price, .lease {
    
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    width: 12mm;   
}

.pricing {
    /* width: 102mm; */
    margin: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    height: 23mm;
    padding: 1mm 19mm 0mm 2mm;
}
.section-four, .section-6 {
margin-top: 10mm;
height: 126mm;
max-width: 100%;
}
.section-5 {
margin-top: 10mm;
height: 126mm;
max-width: 100%;
}